*, *::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    display: flex;

}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.score {
    align-self: center;
    font-size: 1.15rem;
    color: white;
    background-color: rgba(0, 192, 74, 0.893);
    padding: 5px 10px;
    border-radius: 5px;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 40%;
}

.action-icon {
    width: 70px;
    cursor: pointer;
    background-color: rgba(0, 76, 255, 0.136);
    border-radius: 50%;
    padding: 5px;
    transition: all 0.4s ease;
}

.action-icon:nth-child(1):active {
    background-color: rgba(226, 0, 0, 0.871);
}

.action-icon:nth-child(2) {
    background-color: red;
}

.action-icon:nth-child(3) {
    background-color: red;
}

/* 
.action-icon:hover {
    background-color: rgba(250, 194, 65, 0.215);
    background-color: rgba(100, 170, 227, 0.86);
} */

.result {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}